server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/iamdb
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: iam-secret-key-should-be-strong
  expiration: 3600000
